<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/css/bootstrap.min.css">
    <link rel="stylesheet" href="./public/css/index.css">

  </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/menu">Menus</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="/">Disabled</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="row" >
        <div class="col-6">
          <h1>UguCafe</h1>
        </div>
        <div class="col-6"></div>

      </div>
      <div class="col-12">
        <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="./public/img/carosel/hamburger.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="./public/img/carosel/thumb-1920-959369.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="./public/img/carosel/indir.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
    
    <!--
    <div class="container " >
        <div class="card " style="width: 18rem;margin: 0 auto;">
            <div class="card-header bg-success d-flex justify-content-center">
              <h2 class="text-light">Giris Paneli</h2>
            </div>
            <form action="/login" method="post" enctype="multipart/form-data">
                <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div>KullanıcıAdı</div>
                    <div><input type="text" name="KullaniciAdi"></div>
                </li>
                <li class="list-group-item">
                    <div>Şifre</div>
                    <div><input type="text" name="Sifre"></div>
                </li>
                <li class="list-group-item">
                  <div>Şifre</div>
                  <div><input type="file" name="post_image"></div>
                </li>
                <li class="list-group-item">
                    <input class="btn btn-success" type="submit" value="Gönder">
                </li>
                </ul>
            </form>
          </div>
    </div>-->

    <script src="./public/scripts/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="./public/scripts/js/bootstrap.bundle.min.js"></script>


</body>
</html>