<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/css/bootstrap.min.css">
    <link rel="stylesheet" href="./public/css/index.css">
</head>
<body>
    <div class="container">
        <div class="row d-flex justify-content-evenly">
            <% if (menus!=null) {%>
                <%for (let index = 0; index < menus.length; index++) {%>
                
                    <div class="col-lg-3 col-md-4 col-sm-12 mb-3 d-flex justify-content-center">
                        <div class="card" style="width: 18rem;">
                            <img src="<%=menus[index].path%>" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h3 class="card-title"><%=menus[index].title%></h5>
                              <a href="/menu/<%=menus[index].id%>" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    
                <%} %>
                
            <%} %>
        </div>
        
    </div>
    
    <script src="./public/scripts/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="./public/scripts/js/bootstrap.bundle.min.js"></script>
</body>
</html>